body {
    font-family: sans-serif;
    margin: 0;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.App {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    z-index: 0;
}

.cart-open {
    grid-template-columns: 2fr 1fr;
}